.row
	display: flex
	&:not(:last-child)
		margin-bottom: $freeSpace
		padding-bottom: $freeSpace
		border-bottom: 1px solid rgba($black, 0.25)

.image
	flex-shrink: 0
	width: 100px
	height: 75px
	border: 1px solid $primary
	background-size: cover
	background-position: 0 center
	background-repeat: no-repeat

.comment
	margin-left: $freeSpace
	margin-right: $freeSpace
	flex-grow: 1
	line-height: 1.3
	font-size: 14px

div.buttons
	flex-wrap: nowrap
	align-self: flex-start